*{
  margin: 0;
  padding: 0;
}

body{
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:  Montserrat;

}

.nav_bar{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 10vmin;
  width: 100%;
  transition: transform 0.5s ease;
  transform: translateY(-100%);
  z-index: 1000;
}

.web_link{
  display: flex;
  justify-content: left;
  align-items: center;
  width: auto;
  margin-left: 2vmin;
  font-size: 5vmin;
  font-family:  Montserrat;
  color: rgb(196, 190, 190);
}

.sub_nav{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2.7vmin;
  color:rgb(120, 164, 212);
}

.dark{
  background-color: #212125;
  color: #ececea; 
}

.light{
  background-color: #ececea;
  color: #212125;
}

.hide{
  display: none;
}

.toggle,.github,.CV,.favicon img:hover{
  cursor: pointer;
  opacity: 0.8;
}

.container{
  display: flex;
  flex-direction: column;
  width: 20vmin;
  justify-content: space-evenly;
  height: auto;
  width: auto;
  align-items: center;
}

.name{
  font-size: 3rem;
  width: auto;
  font-weight: 900;
}

.links{
  width: 20vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favicon{
  transition: opacity 0.35s ease-in-out;
}

.quote{
  display: flex;
  border: solid #9F9F9F 2px;
  border-radius: 15px;
  height:auto;
  width: 50rem;
  padding: 5px;
  font-size: 1rem;
 box-shadow: rgb(183, 31, 31);
  text-align: center;
}

.card_container{
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: top;
  align-items:space-evenly;
  height: 160vmin;
}

.card{
  display: flex;
  width:46%;
  border: solid white 2px;
  height: 30vmin;
  margin: 2px;
  border-radius: 5px;
  border-color:#1c1c1c;

}

.web_link p{
  cursor: pointer;
  scroll-behavior: smooth;
  transition: scroll-behaviour 5s ease-in;
}

.container img{
  width: 10rem;
  height: auto;
}

.favicon{
  display: flex;
  justify-content: center;
  align-items: center;
}






