*{
  margin : 0em;
  padding : 0em;
}

body{
  transition : background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease,opacity 1.5s ease;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  font-family :  Helvetica, sans-serif,Arial;
  opacity: 0;
}

.nav_bar{
  position : fixed;
  top : 0em;
  left : 0em;
  display : flex;
  justify-content : space-between;
  height : 3.3em;
  width : 100%;
  transition : transform 0.5s ease;
  transform : translateY(-100%);
}

.web_link{
  display : flex;
  justify-content : left;
  align-items : center;
  width : auto;
  margin-left : 0.5em;
  font-size : 1.8em;
  font-family :  Montserrat;
}

.sub_nav{
  display : flex;
  width : 50%;
  justify-content : space-evenly;
  align-items : center;
  font-size : 1.2em;

}

.dark{
  background-color : #212125;
  color : #ececea; 
}

.light{
  background-color : #ececea;
  color : #212125;
}

.hide{
  display : none;
}

.toggle img{
  width : 1.3em;
  height : auto;
}
.links a,.toggle img,.github,.CV,.favicon img:hover{
  cursor : pointer;
  opacity : 0.8;
}

.info_container{
  display : flex;
  flex-direction : column;
  justify-content : space-evenly;
  height : 11.5em;
  align-items : center;
  height : auto;
}

.name{
  font-size : 2.3em;
  width : auto;
  font-weight : 500;
}

.links{
  width : 12em;
  display : flex;
  justify-content : space-around;
  align-items : center;
  font-size : 1.1em;
}

.favicon{
  transition : opacity 0.35s ease-in-out;
}

.quote_container{
  display : flexbox;
  border : solid 0.01em;
  border-radius : 0.5em;
  height :auto ;
  width : 40em;
  padding : 0.75em;
  font-size : 1.10em;
  transition : background-color 0.5 ease, color 0.5 ease;
  text-align : center;
  line-height : 0.5em;
  white-space : pre-wrap; 
  min-height : 6.9em;
  transition : boxshadow 2s ease;
}

.quote_container p{
  line-height : 2em;
}

.card_container{
  margin-top : 1em;
  width : 45.5em;
  display : flex;
  flex-direction : column;
  flex-wrap : wrap;
  justify-content : top;
  align-items : space-around;
  height : 70em;
  border-radius : 0.5em;
}

.card{
  display : flex;
  width : 22.40em;
  border : solid 0.01em;
  height : 15em;
  margin-top : 0.25em;
  border-radius : 0.5em;
  transition : background-color 0.5 ease, color 0.5 ease;
}

.web_link p{
  cursor : pointer;
  scroll-behavior : smooth;
  transition : scroll-behaviour 5s ease-in;
}

.info_container img{
  width : 7em;
  height : auto;
}

.favicon{
  display : flex;
  justify-content : center;
  align-items : center;
}

.quote_container .author{
  font-weight : 700;
  font-size : 1.1em;
}

.about{
  line-height : 1.5em;
  width : 22.40em;
  margin-left : 0.25em;
  margin-right : 0.25em;
  font-size : 1em;
}


@media (max-width:800px){
 
html,body{
  overflow-x : hidden;
}

body{
  display : flex;
  justify-content : center;
  text-align : center;
  align-items : center;
}

.nav_bar{
  height :2em;
}

.web_link{
  font-size : 1em;
}

.sub_nav{
  font-size : 0.7em;
}

.toggle img{
  width :1em;
  height : auto;
}

.name{
  font-size : 1.5em;
}

.links{
  width : 10em;
  font-size : 0.8em;
}

.favicon img{
  width : 5em;
  height : auto;
}

.quote_container{
  width : 28em;
  font-size : 0.6em;
  border-radius : 0.25em;
}

.card_container{
  width : 17.5em;
  height :auto
}

.about{
  font-size : 0.75em;
  text-align : left;
  line-height : 1.4em;
  width : 23.5em;
}

.card{
  width : 17.5em;
  border-radius : 0.25em;
}
} 


